<h2>Delicious Burgers</h2>
<main>
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    <form action="/burgers/{{this.id}}" method="PUT">{{this.burger_name}}
                    <input type="hidden" name="devoured" value="1">
                    <button data-id="{{id}}" data-devoured="true">Eat the burger</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>



            <div class="col-6">
                <h2>Devoured Burgers</h2>
                {{#each burgers}}
                {{#if this.devoured}}
                    <div>{{this.burger_name}}</div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

</main>
<h2>Add a Burger</h2>
<form action="/burgers" method="POST">
<input type = "text" id="name" name="burger_name">
<button type="submit" class="addBurger">Add Burger</button>
</form>
